miscellaneous/
**/.ipynb_checkpoints/**
**/__pycache__/**
**/htmlcovwe nee/**
**/.coverage
other/
dist/
build/
data/
configs/
*.egg-info
.vscode/
iter-*/
settings/private.py
experiments/*
wandb/
dbpedia-archive/
eventkg/
*.parquet
*.nq
data-test/*
snapshot-2021-09/*